.container3 {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  border-radius: 5px;
}
.canvas {
  background-image: url("../images/spacecloud.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  border-radius: 10px;
}
#startgame {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 400px;
  height: 300px;
  border: 1px solid black;
  background: black;
  color: white;
  z-index: 2;
  border-radius: 10px;
  background-image: url("../images/backgroundspace.gif");
}
