.header {
  z-index: 5;
}
.loser {
  display: none;
}
.winnerimg {
  z-index: 0;
  width: 100%;
  height: auto;
}
.dogeating {
  z-index: 1;
  position: absolute;
}
.jumbotron {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 10px;
}
.ui-accordion-content {
  height: 30vh;
}
#names {
  text-align: center;
}
#names input {
  width: 40vw;
  margin: 0 auto;
}
.card-title {
  text-align: center;
}
.player1, .player2 {
  text-decoration: underline;
}
p {
  text-align: center;
}
.border {
  border: 1px solid gray;
}
.buttons {
  text-align: center;
}
.container2 {
  text-align: center;
}
#instructions div {
  text-align: left;
  padding-bottom: 10px;
}
